#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

:root {
  font-size: 12px;
}

.app {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  height: 60vh;
  width: auto;
}

.dog-image {
  height: 100%;
  width: auto;
}

.button-container {
  margin-top: 2rem;
}

.dog-btn {
  height: auto;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .dog-image {
    max-width: 90vw;
    height: auto;
    max-height: 60vh;
  }
}
